/* 初始化 */
html, body {
    font-family: Courier, monospace;
    margin: 0 auto;
    width: 500px;
    background: #25313e;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 头部 */
.header {
    margin-top: 50px;
    text-align: center;
    width: 500px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 50px;
    font-weight: bold;
    color: #506479;
    margin-bottom: 20px;
}

.header a {
    background: #232323;
    color: #f9f6f2;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    line-height: 40px;
}

.header input {
    padding: 10px;
    outline: none;
    width: 68%;
}

/* 内存 */
.memorys {
    background: #558E56;
    height: 300px;
    min-width: 500px;
    border-radius: 5px;
    padding: 10px;
}

.memory.head {
    height: 40px;
}

.memory.head .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* 页面 */
.memory.boxs {
    text-align: center;
    height: 180px;
}

.memory.boxs .box {
    padding: 0px;
    color: #fff;
    border-radius: 5px;
    width: 10%;
    height: 180px;
    background: #383838;
    display: none;
    line-height: 180px;
    text-align: center;
    margin: 0 4px;
}

.memory.minis {
    padding: 20px 9px;
}

.memory.minis .mini {
    height: 40px;
    width: 10px;
    background: #F7DE9B;
    display: none;
}

/* 控制台 */
.controls {
    margin: 20px auto;
    padding: 5px;
    min-height: 90px;
    background: #000;
    color: #fff;
}

.control input {
    margin-top: -3px;
    outline: none;
    width: 150px;
    padding: 10px;
}

.control {
    display: inline-block;
}

.controls .title {
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    color: #fff;
}

.controls .buttons {
    padding: 0 2px;
}

.controls .button {
    min-width: 50px;
    background: #00a4d8;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.controls .button.blue,
#boxs .box.blue {
    background: #00a4d8;
}

.controls .button.red,
#boxs .box.red {
    background: #f55551;
}

.controls .button.green,
#boxs .box.green {
    background: #32c146;
}

.controls .button.yellow,
#boxs .box.yellow {
    background: #f6b73e;
}

/* 管理状态 */
.manages {
    height: 130px;
    color: #fff;
    text-align: center;
}

.manages .manage {
    padding: 10px;
    height: 100px;
    width: 100px;
    background: #f55551;
    border-radius: 100px;
    display: none;
}

.manages .manage .title {
    text-align: center;
    line-height: 40px;
}

.manages .manage .content {
    text-align: center;
    font-size: 30px;
    line-height: 20px;
}

.manages .blue {
    background: #00a4d8;
}

.manages .red {
    background: #f55551;
}

.manages .green {
    background: #32c146;
}

.manages .yellow {
    background: #f6b73e;;
}